// FONTS
$userfont: 'Roboto', sans-serif;
$userfont2: 'Gilroy', sans-serif;


// COLORS
$white: #ffffff;
$black: #17191E;
$dark: #22252D;
$primary: #4069FF;
$grey: rgba($white, .4);


// BREAKPOINTS
$breakpoints: (
  retina: 2560px,
  xxl: 1920px,
  md: 985px,
  sm: 648px,
  xs: 320px,
);