@use "./vars";
@use "./functions";

body {
  background-image: url('../img/Background_RU_2560-withtitle.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 0;

  @media (#{maxScreen(xl)}) {
    background-size: 214%;
  }

  @media (#{maxScreen(xs)}) {
    background-image: url('../img/Background_320_RU3-wtitle.jpg');
    background-size: cover;
  }

}

h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-align: center;

  /* Text_Gradient */
  @media (#{minScreen(md)}) {
    background: linear-gradient(180deg, #275DB2 27.42%, #0C0B37 77.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

  }

  @media (#{maxScreen(md)}) {
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
  }
}

h2 {
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto;
  font-weight: 600;
  font-size: 36px;

  @media (#{maxScreen(md)}) {
    font-weight: 500;
    max-width: 300px;
    font-size: 24px;
    line-height: 130%;
  }

}

.main__stage {
  position: relative;
  /* text-align: center; */
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @media (#{minScreen(md)}) {
    min-height: 548px;
  }

  @media (#{maxScreen(md)}) {
    height: 56vw;
  }

  @media (#{maxScreen(xs)}) {
    height: 105vw;
  }

  &-pic {
    width: 90%;
    // height: 93px;
    // background: url('../img/main-text.png') no-repeat;
    position: absolute;
    bottom: 30px;
    // background-size: cover;
  }

  &-subtext {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
    transform: matrix(1, -0.15, -0.01, 0.99, 0, 0);
    color: black;
    position: relative;
    bottom: 36px;
  }
}

.button__wrap {
  margin-top: 35px;
}

.button__link {
  padding: 18px 60px;
  background: linear-gradient(180deg, rgba(1, 255, 255, 0.3) 12.12%, rgba(22, 59, 126, 0.3) 86.58%), #0B9DEF;
  box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: 700;
  font-size: rem(28px);
  line-height: 130%;
  font: $userfont2;
  display: block;
  margin: 0 auto;
  width: 380px;
  text-align: center;

  &:hover {
    box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.8);
    background: linear-gradient(180deg, rgba(178, 255, 255, 0.4) -4.84%, rgba(34, 89, 190, 0.4) 109.13%), #4ABEFF;
  }

  &:active {
    background: linear-gradient(180deg, rgba(1, 255, 255, 0.3) 12.12%, rgba(22, 59, 126, 0.3) 86.58%), #0B9DEF;
    box-shadow: none;
  }

  @media (#{maxScreen(md)}) {
    // font-size: 6.8vw;
    padding: 18px 55px;
  }

  @media (#{maxScreen(xs)}) {
    // font-size: 6.8vw;
    padding: 18px 55px;
    width: 100%;
  }
}

.section__cards {
  margin-top: 93px;
}

.cards {
  grid-gap: 2rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  margin-top: 45px;

  &__area {
    margin-top: 86px;
  }

  &__item {
    width: 288px;
    height: 142px;
    background-image: url('../img/card_bg.png');
    background-repeat: no-repeat;
    // margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    span {
      display: block;
      width: 30%;
      transition-property: all;
      transition-duration: .3s;
      transition-delay: 0s;
      transition-timing-function: linear;
      text-align: center;
    }

    &:hover span {
      width: 40%;
    }

    @media (#{maxScreen(sm)}) {
      width: 280px;
      background-size: contain;
      margin: 0 auto;
    }

    &:hover {
      background-image: url('../img/card_bg-h.png');
    }

    &:hover .cards__name {
      display: block;
    }

    img {}
  }

  &__name {
    display: none;
    position: absolute;
    bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.04em;
  }
}

.bonus {
  margin-top: 16px;
  grid-gap: 2rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  background-repeat: no-repeat;

  @media (#{maxScreen(md)}) {
    margin-top: 34px;
  }

  &__area {
    margin-top: 87px;

    @media (#{maxScreen(md)}) {
      margin-top: 106px;

    }
  }

  &__item {
    width: 100%;
    background: url(../img/Bonus1.jpg) no-repeat;
    margin: 25px auto 0;
    max-width: 300px;
    padding-left: 60px;
    padding: 20px 0 13px 73px;
    position: relative;

    &:after {
      content: "";
      background-repeat: no-repeat
    }
  }

  &__cashback {
    &:after {
      background-image: url('../img/cashback.svg');
      height: 49px;
      left: 57px;
      position: absolute;
      top: 23px;
      width: 47px;
    }
  }

  &__warranty {
    &:after {
      background-image: url('../img/Warranty.svg');
      height: 49px;
      left: 61px;
      position: absolute;
      top: 23px;
      width: 47px;
    }
  }

  &__up_to {
    &:after {
      background-image: url('../img/bonus_up_to.svg');
      height: 49px;
      left: 57px;
      position: absolute;
      top: 23px;
      width: 47px;
    }
  }

  &__text {
    text-align: center;
  }

  &__price {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-top: 8px;
    text-align: center;
    letter-spacing: 0.02em;
  }
}