.footer {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  max-width: 300px;
  margin: 85px auto 0;

  &__title {
    display: block;
    text-align: center;
    font-size: rem(14px);
    padding: 50px 0;
    color: $grey;
    margin-bottom: 0;
  }

  &__logo {
    background: url(../img/m_LOGO.svg) no-repeat;
    margin: 0 auto 30px;
    display: block;
    background-size: cover;
    width: 155px;
    height: 24px;

  }

  .copyright {
    margin-bottom: 30px;
    font-family: $userfont2;

    span {
      &:first-child {
        font-size: 14px;
      }
    }

    .agecens {
      display: inline-block;
      border: 1px solid white;
      border-radius: 8px;
      padding: 9px 6px;
      font-size: 14px;
      margin-left: 20px;
    }
  }
}

.messengers {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;

  &__item {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 7px;

  }

  &__teleg {
    background: url('../img/telegram.svg') no-repeat;
  }

  &__vk {
    background: url('../img/vk.svg') no-repeat;
  }
}