footer {
  background-image: url(../img/Footer.jpg);
  padding-top: 53px;
  margin-top: 26px;
}

.footer {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  margin: 0 auto;

  &__title {
    display: block;
    text-align: center;
    font-size: rem(14px);
    padding: 50px 0;
    color: $grey;
    margin-bottom: 0;
  }

  &__logo {
    background: url(../img/m_LOGO.svg) no-repeat;
    display: block;
    background-size: cover;
    width: 155px;
    height: 24px;


    @media (#{maxScreen(sm)}) {
      margin: 0 auto 30px;
    }
  }

  .copyright {
    margin-bottom: 30px;
    font-family: $userfont2;

    @media (#{maxScreen(sm)}) {
      margin: 0 auto 23px;
    }

    span {
      &:first-child {
        font-size: 14px;
      }
    }

    .agecens {
      display: inline-block;
      border: 1px solid white;
      border-radius: 8px;
      padding: 9px 6px;
      font-size: 14px;
      margin-left: 20px;
    }
  }
}

.messengers {
  margin-bottom: 30px;

  display: flex;

  @media (#{minScreen(md)}) {
    justify-content: flex-end;

  }

  @media (#{maxScreen(sm)}) {
    justify-content: center;
  }

  @media (#{maxScreen(xs)}) {}

  &__item {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 14px;

    @media (#{maxScreen(md)}) {

      margin: 0 7px;
      width: 40px;
      height: 40px;
    }

  }

  &__teleg {
    background-image: url('../img/telegram.svg');
  }

  &__vk {
    background-image: url('../img/vk.svg');
  }
}